* {
	box-sizing: border-box;
}

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 100;
  color: #fff;
  font-size: 16px;
  background-color: #5b5e6f; 
}

h1,h2,h3 {
	font-weight: 100;
	margin: 0;
	padding:0;
}

h1 {
	font-size: 42px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
	color: #a1a9bb;
}

p {
	margin: 0;
	line-height: 18px;
}

header {
	background-color: #373949; 
	height: 100px;
	width: 100%;

}
header h1 {
	float: left;
	margin: 25px 0 0 10px;
}

#buttons {
	float: right;
}

#refresh {
	float: left;
	height: 100px;
	width:100px;
	background: #fd6e6e url('../images/refresh.png') center center no-repeat;
}

#compose {
	float: left;
	height: 100px;
	width:100px;
	background: #36e2be url('../images/compose.png') center center no-repeat;
}
section {
	clear:both;
}

ul {
	margin: 0;
	padding: 0;
}

ul li {
	border-bottom: 1px solid #a1a9bb;
	padding: 15px 0px;
	float: left;
}
.marker {
	float:left;
	width: 3%;	
	height: 100%;
	padding: 50px 0px;
}

.container {
	float:left;
	width: 97%;
	height: 100%;
	padding-right: 20px;
}

.read {
	width: 20px;
	height:20px;
	background:#00d3a7;
	border-radius: 10px ;
	margin: 0 auto;
}

@media only screen and (max-width: 670px) and (min-width: 320px) {

h1 {
	font-size: 24px;
}

h2 {
	font-size: 21px;
}

h3 {
	font-size: 18px;
	color: #a1a9bb;
}

p {
	margin: 0;
	font-size: 14px;
}

header {
 	height: 50px;
}	

header h1 {
	margin-top:10px;
}

#refresh {
	height: 50px;
	width: 50px;
	background-size: 80%;

}

#compose {
	height: 50px;
	width: 50px;
	background-size: 80%;
}

ul li {
	height: 125px;
	overflow:hidden;
	text-overflow: ellipsis;
}

.marker {
	width: 10%;
}

.container {
	width: 90%;
}

}




